@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
/* common */

:root {
    --main-bg-color: #f8f9fa;
    --main-text-color: rgba(102, 102, 102, 0.8);
    --main-primary-color: #72be43;
    --x: #14b81f;
    --y:#d6d6d6;

}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.card-wrapper{
    max-width: 1100px;
    margin : 0 60px 35px;
    padding : 20px 10px;
    overflow: hidden;
}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #50B648 !important;
}


  
body{
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    font-size:16px;
}

.active{
    background-color: #14b81f !important;
}


/* main */

.col-inner {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 0 auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
}

.title-button {
    display: inline-block;
    width: auto;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 4px 20px;
    text-transform: uppercase;
    color: var(--main-primary-color);
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6, .heading-font, .banner h1, .banner h2 {
    font-weight: 700;
    font-style: normal;
}

#text-775696433 {
    font-size: 0.9rem;
    text-align: center;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) #fff;
}

#text-775696433 {
    font-size: 0.9rem;
    text-align: center;
}